/* ===============================
   Navbar & Links
   =============================== */
a.navbar-brand[b-88nuduaio3] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #d27aff;
}

    a.navbar-brand:hover[b-88nuduaio3] {
        color: #b55fcc;
    }

a[b-88nuduaio3] {
    color: #d27aff;
    text-decoration: none;
}

    a:hover[b-88nuduaio3] {
        color: #b55fcc;
        text-decoration: underline;
    }

/* ===============================
   Buttons in Navbar / Pills
   =============================== */
.btn-primary[b-88nuduaio3] {
    color: #fff;
    background-color: #d27aff;
    border-color: #d27aff;
    transition: all 0.2s ease-in-out;
}

    .btn-primary:hover[b-88nuduaio3] {
        background-color: #b55fcc;
        border-color: #b55fcc;
        color: #fff;
    }

.nav-pills .nav-link.active[b-88nuduaio3],
.nav-pills .show > .nav-link[b-88nuduaio3] {
    color: #fff;
    background-color: #d27aff;
    border-color: #d27aff;
}

    .nav-pills .nav-link.active:hover[b-88nuduaio3],
    .nav-pills .show > .nav-link:hover[b-88nuduaio3] {
        background-color: #b55fcc;
        border-color: #b55fcc;
    }

/* ===============================
   Borders & Shadows
   =============================== */
.border-top[b-88nuduaio3] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-88nuduaio3] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-88nuduaio3] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* ===============================
   Footer
   =============================== */
.footer[b-88nuduaio3] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    color: #333;
    text-align: center;
}

/* ===============================
   Misc / Buttons
   =============================== */
button.accept-policy[b-88nuduaio3] {
    font-size: 1rem;
    line-height: inherit;
}
